
<h1> Twitter Search </h1>


<table align = "center">
<%= form_tag(:url => {:action => 'search'},:method => 'get', :id => "search") do %>
	<td> <%= text_field_tag :twitter, @search_term, :size => 50 %> </td>
</tr>
<tr>
	<td align = "center"> <%= submit_tag 'search' %> </td>
</tr>
<% end %>
</table>


<br> </br>
<div id="search_list"><%= render 'search' %> </div>

 <div id="pageNavPosition"></div>
	<script "/text/javascript">
		  var pager = new Pager('search_list_page', 19); 
		    pager.init(); 
		    pager.showPageNav('pager', 'pageNavPosition'); 
		    pager.showPage(1);
	</script>

<%unless @search_term.blank? %>
	<p align = "center"> <%= link_to "More tweets", :controller => 'twitter', :action => 'search', :twitter => @search_term %></p>
<%end%>

